<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.okta.oidc-emirates-demo"
        version   = "2.2.1">

    <name>Emirates Demo App 2.2.1</name>

    <description>
        Native demo application for demonstration of Open ID Connect to the Okta platform.
    </description>

		<author href="http://www.okta.com" email="frank.benus@okta.com">Frank Benus | Okta		</author>

    <preference name="phonegap-version" value="3.3.0" />  
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="false" />

		<platform name="android" />

		    
    <gap:plugin name="org.apache.cordova.core.inappbrowser" />
    <access origin="*" />
    
</widget>